* {
  box-sizing: border-box;
  user-select: none;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 45vw;
  min-width: 250px;
}

.header {
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}

.entry-input {
  width: 100%;
}

.entry-submit-button {
  display: flex;
  align-items: center;
  padding: 6px;
  margin-left: 0.5rem;
  color: #10b981;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #10b981;
  background: transparent;
}

.entry-submit-button:hover {
  background: #10b981;
  color: white;
  cursor: pointer;
}

.entry-layout {
  display: flex;
  margin-top: 1rem;
}

.todo-list-container {
  display: flex;
  gap: 12px;
  padding: 0;
  flex-direction: column;
}

.todo-item {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}

.todo-title {
  text-align: left;
  flex: 1;
}

.todo-checkbox {
  display: flex;
  height: 12px;
  width: 12px;
}

.todo-remove-button {
  background-color: white;
  padding: 0.5rem;
  color: #ef4444;
  border-radius: 0.5rem;
  border: #ef4444 2px solid;
}

.todo-remove-button:hover {
  color: white;
  background: #ef4444;
}
